/* AQ section*/

.QAPostsBody{

    background-color: rgb(252, 251, 251);
    

}
.QAPostsBodyBG{
    width: 80%;
    margin: auto;
    padding: 200px 0 400px 0;

}

.UserQAPosts{
    padding: 10px 0 100px 0;
    height: 160%;
    background: #9b8b8b;
    border-radius: 20px;
    width: 100%;
    margin: auto;
    margin-bottom: 100px;

}
.UserQAPosts h3{

    font-size: 16px;
    

}
.UserQA{
    height: 100%;
    padding: 50px 20px 10px 20px;
    background: #FFFFFF;
    border-radius: 30px;
    width: 90%;
    padding-top: 30px;
    margin: auto;
}
.containerUserProile{
    display: flex;
    align-items: center;
}
.UserProile{
    height: 160px;
    padding: 20px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.UserProile h3{
    margin-left: 20px;

}
.UserImg{
    background: #000;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.CreatePostBotton{
    background: #6D2222;
    border-radius: 30px;
    color: #fff;
    padding: 10px 42px ;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 47px;
    text-decoration: none;
    transition: all 0.4s ;
    cursor: pointer;

}


/* Videos section*/













/* chating section */
.Chatbody{
    margin: 40px 0 0 0;
}
.Containerimgchat{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}
.Fleximgchat{
    width: 10%;
    margin-right: 20px;
}
.FlexMsgchat{
    width: 85%;
}
.inputbody{
    margin-top: 200px;
}
.containerChatQA{
    padding: 10px 50px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.borderBottom{
    height: 1px;
    width: 100%;
    background-color: #000;
}
.inputChat[type=textarea] {
    width: 400px;
    padding: 6px 20px 0 20px;
    margin: 20px 0 8px 0;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
 }
 .sendToChat{
    padding: 20px 0;
    height: 100%;
    width: 100%;
    background: #e6e6e6;
    border-radius: 20px;
    margin: auto;
    margin: 50px 0;
 }
 .MysendToChat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 0;
    height: 100%;
    width: 100%;
    background: #928b8b;
    border-radius: 20px;
    margin: auto;
    margin: 50px 0;
 }
 .TextChat{
    padding-left: 20px;
    width: 76%;
    height: 100%;
 
 }
 .TextChat h3 {
    word-wrap: break-word;
}
 .BTNsend {
    background-color: green;
    height: 100%;
    width: 100%;
    padding: 4px 20px;
    border-radius: 20px;
    border: 0 #000 solid;
    color: #fff;
    font-size: 18px;
 }
 .BTNback {
    background-color: rgb(156, 1, 1);
    height: 100%;
    width: 100%;
    padding: 4px 20px;
    border: 0 #000 solid;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
 }