.homeBody{
    margin-top: 300px;
    height:100%;
}
.Why{
    text-align: center;
    margin: auto;
    width: 100%;
    
    
}
.Why h2{
    margin-bottom: 100px;
    font-size: 32px;
}    
.Why p{
    margin: 10px auto 100px auto;
    font-size: 22px;
    width: 60%;
} 

.LearnContainer{
    margin: 400px 0;
    display: flex;
    justify-content: flex-start;
    margin-left: 180px;
    
    
}
.learnFlex{
    margin: 0 40px a;
}
.learnContent{
    margin-left: 60px;
    margin-top: 40px;
}

.postContainer{
    margin: 300px 0;
    display: flex;
    justify-content: space-between;
    margin-right: 160px;
    
}
.postFlex{
    margin: 0 40px a;
}
.postContent{
    margin-left: 160px;
    margin-top: 40px;
}

.WhiteSpace{
    height: 200px;
    width: 100%;
}